/problema2/ProfesoresInstituto/nbproject/private/
/problema4/Cheque/nbproject/private/
/problema4/Cheque/build/
/problema1/Registro/nbproject/private/
/problema1/Registro/build/
/problema2/SueldoProfesores/nbproject/private/
/problema2/SueldoProfesores/build/
/problema3/Automovil/nbproject/private/
/problema3/Automovil/build/